[FORMAT]
max-line-length=120
ignore=setting
min-public-methods=0
extension-pkg-whitelist=ujson
disable=unused-argument,
    invalid-name,
    duplicate-code,
    no-member,
    too-many-arguments,
    bad-continuation
